body{
    background-image: url("background.jpg");
    background-size: cover;
    overflow: hidden;
}


.rond{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    z-index: 10;
}


.carre{
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0.808);
    border-width: 0px;
    border-style: solid;
    z-index: 10;
}


.chapeau{
    width: 150px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.929);
    border-radius: 10px 10px 0px 0px;
    margin: 0px 0px -10px 0px;
    z-index: 10;
}

.sous_chapeau{
    width: 250px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.929);
    border-radius: 10px;
    margin: 0px 0px -10px 0px;
    z-index: 10;
}

.eye{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0px 5px 0px 5px;
}


.tete{
    width: 150px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 8;
}

.eyes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 0;
    margin: 0px 0px 20px 0px;

}

.mouth{
    width: 60px;
    height: 30px;
    background-color: rgba(240, 34, 34, 0.431);
    border-width: 3px;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
}

.nose{
    width: 30px;
    height: 10px;
    border-radius: 10px 4px 4px 10px;
    background-color: orangered;
    transform: rotate(-40deg);
    margin: 0px 20px 0px 0px;
}

.corps{
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button{
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 0px 0px 40px 0px;
}



.arms{
    position: absolute;
}


.main{
    height: 97vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flocon{
    position: absolute;
    background-color: white;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-width: 4px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 1000;
}
