.homePage {
    margin: 0 auto;
    max-width: 50em;
}

.zozanImage{
    margin: 2em;
    width: 25em;
    height: 100%;
}

.description{
    margin: 2em;
    text-align: justify;
}

.test{
    width: 10em;
    height: 10em;
    background-color: aqua;
}