
.kebabLogo{
  width: 4em;
}

@media (prefers-reduced-motion: no-preference) {
    .kebabLogo {
      animation: bounce infinite 1s linear;
    }
  }

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
  }